{% extends 'base.html' %} {% block content %}

<div>
    <div class="edit-photo-form">
        <img src="{{photo.photo_url}}" alt="{{photo.caption}}" class="timeline-photos">
        <p>{{photo.caption}}</p>
        <h3>Edit Post</h3>
    <form action="{% url 'photo_update' photo.id%}" 
    method="POST"
    enctype="multipart/form-data"
    class="photo-post-form">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" value="Edit Post">
    </form>
    </div>
    <div>
        <form action="{% url 'photo_delete' photo.id %}" method="POST">
            {% csrf_token%}
            <input type="submit" value="delete">
        </form>
    </div>
</div>

{% endblock%}