{% extends 'base.html' %} {% block content %}
<div class="profile-page">
    <div class="header">
        
{% if profile.profile_pic %}
<img src="{{profile.profile_pic}}" class="prof_pic" >
{% endif %}
<form action="{% url 'profile_photo' profile.id %}"
enctype="multipart/form-data"
method="POST"
class="photo-post-form">
{% csrf_token %}
<label for="custom" class="file-thing"> Choose File
    <input id="custom"type="file" name="photo_file">
</label>
<input class="file-thing"type="submit" class="btn" value="Upload Photo">
</form>
<h1>{{profile.name}}</h1>
    </div>

<div  class="profile-show-photos">
    {% for photo in photos %}
<div>
    <a href="{% url 'edit_photo' photo.id %}">
    <img src="{{photo.photo_url}}" 
    alt="{{photo.caption}}"
    class="timeline-photos">
    </a>
    <p>{{photo.caption}}</p>
</div>
</div>
</div>
{% endfor %}


{% endblock %}