{% extends 'base.html' %} {% block content %}

{% if user.is_authenticated %}

<div class="photo-post-form">
    <h3>Post Photo Here</h3>
<form action="{% url 'post_photo' profile.id %}" 
method="POST"
enctype="multipart/form-data">
{% csrf_token %}
<table>
    {{form.as_table}}
    <input type="file" name="photo_file" id="">
    <input type="submit" value="Upload Photo">
</table>
</form>
</div>


{% for photo in photo_list %}
<div>
    <img src="{{photo.photo_url}}" class="timeline-photos"/>
    {% if photo.user.id == profile.id %}
    <p class="caption">{{photo.caption}}</p>
    <p><span class="posted-by">posted by<a href="{% url 'profile_show' photo.user.id %}">@You</a></span></p>
    <p><a href="{% url 'edit_photo' photo.id %}">Edit</a></p>
    {% else %}
    <p>{{photo.caption}}</p>
    <p><span class="posted-by">posted by <a href="{% url 'profile_show' photo.user.id %}">@{{photo.user.name}}</a></span></p>
    {% endif %}

</div>

{% endfor %}

{% else %}

<h1>home</h1>

{% endif %}


{% endblock %}