body{
    font-family: poppins;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
nav{
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(197, 161, 114);
    padding: 10px;

}
.left{
    display: flex;
    justify-content: space-around;
}
.right {
    width: 150px;
    display: flex;
    justify-content: space-around;
}
.prof_pic{
    width: 200px;
}
.main-content{
    top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photo-post-form{
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.timeline-photos{
    width: 700px;
}
.thumbnail{
    border-radius: 2px;
    width: 35px;
}
.thumbnail-container a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}
.thumbnail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
}
.logout{
    display: flex;
    align-items: flex-end;
}
.posted-by{
    font-size: 10px;
}
.profile-page{
    justify-self: flex-start;
    width: 90vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}
.header{
    background-color:rgb(196,161,113);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 2px;
}
input[type="file"]{
    display: none;
}
.file-thing{
    font-size: 12px;
    display: block;
    margin: 5px 2px 2px 0px;
    border-radius: 3px;
    padding: 5px 5px;
    border: solid 1px black;
    background-color: rgb(110, 199, 193);
    cursor: pointer;
}
.profile-show-photos{
    margin: 0 500px 0 200px;
    display: flex;
    flex-direction: column;
}
.edit-photo-form{
    display: flex;
    flex-direction: column;
}
.file-thing:hover{
    opacity: 0.75;
}
input[type=submit]{
    font-family: poppins;
}
input[type="submit"]:hover{
    
    opacity:0.75;
}
a:hover{
    opacity: 0.5;
}
.home-link{
    font-size: 20px;
}

@media screen and(min-width: 100px) {
    body{
        background-color: red;
    }
}